@font-face {
  font-family: 'Lexend Giga';
  src: url('/assets/Lexend_Giga/static/LexendGiga-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Milan';
  src: url('/assets/Inter/static/Inter-Regular.ttf') format('truetype');
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('/assets/component/bg-2.svg');
  background-size: cover;
}

.spacer {
  margin-top: 200px;
}

.spacer-2 {
  margin-top: 250px;
}

.btd {
  width: 300px;
  height: 51px;
  flex-shrink: 0;
  background: url('/assets/component/backtodashboardbtn.svg');
  background-position: center center;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
  font-feature-settings: 'cv11' on, 'cv01' on, 'ss01' on;
  font-family: "Inter Milan",sans-serif;
  font-size: 13.134px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.701px; /* 150% */
  margin-left: 60px;
}

.border-jammer {
  width: 1660px;
  height: 640px;
  background: url('/assets/component/border-jammer.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 60px;
  margin-top: 20px;
}

.title-border {
  color: #D9D9D9;
  font-feature-settings: 'cv11' on, 'cv01' on, 'ss01' on;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 36.513px;
  text-align: center;
  margin-right: 120px;
  margin-top: 20px
}

.text-connect{
  text-align: end;
  white-space: nowrap;
}

.text-disconect{
  text-align: end;
  white-space: nowrap;
}

.border-channel-grey{
  width: 480px;
  height: 225px;
  margin-top: 20px;
  flex-shrink: 0;
  background: url('/assets/component/ch-border-grey.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #FFF;
  font-family: "Inter Milan",sans-serif;
  font-size: 17.376px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.362px; /* 122.94% */
  letter-spacing: 2.003px;
  text-transform: uppercase;
}

.title-channel {
  padding: 20px;
  text-align: start;
  font-weight: 800;
  font-size: 20px;
}

.title-signal {
  text-align: start;
  padding-top: 10px;
  padding-left: 100px;
  font-size: 20.137px;
  font-style: normal;
  font-weight: 600;
}

.suhu {
  padding-left: 130px;
  padding-top: 35px;
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
  white-space: nowrap;
}

.idle {
  width:70px;
  height:30px;
  margin-left: 95px;
  margin-top:45px;
  background: url('/assets/component/idle.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.run {
  width:70px;
  height:30px;
  margin-top:45px;
  background: url('/assets/component/run.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.border-channel-blue{
  width: 480px;
  height: 225px;
  flex-shrink: 0;
  margin-top: 20px;
  background: url('/assets/component/ch-border-blue.svg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  font-family: "Inter Milan",sans-serif;
  font-size: 17.376px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.362px; /* 122.94% */
  letter-spacing: 2.003px;
  text-transform: uppercase;
}

.border-channel-green{
  width: 480px;
  height: 225px;
  flex-shrink: 0;
  margin-top: 20px;
  background: url('/assets/component/ch-border-green.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #FFF;
  font-family: "Inter Milan",sans-serif;
  font-size: 17.376px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.362px; /* 122.94% */
  letter-spacing: 2.003px;
  text-transform: uppercase;
}


.freqsetjam1 {
  width: 450px;
  height: 130px;
  flex-shrink: 0;
  margin-top: 20px;
  background: url('/assets/component/freqSetJamm1.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.freqsetjam2 {
  width: 450px;
  height: 130px;
  flex-shrink: 0;
  margin-top: 20px;
  background: url('/assets/component/freqSetJamm2.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.vswrenable {
  width: 450px;
  height: 130px;
  flex-shrink: 0;
  margin-top: 20px;
  background: url('/assets/component/vswrenable.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.vswrdisable {
  width: 450px;
  height: 130px;
  flex-shrink: 0;
  margin-top: 20px;
  background: url('/assets/component/vswrdisable.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-vcwa {
  width: 445px;
  height: 350px;
  flex-shrink: 0;
  margin-top: 20px;
  background: url('/assets/component/border-vcwa.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

input[type=checkbox] {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

.checkbox-vcwa {
  color: #FFF;
  font-feature-settings: 'cv11' on, 'cv01' on, 'ss01' on;
  font-family: "Inter Milan",sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 55.32px;
  margin-left:20px;
}

input ~ .checkbox-vcwa {
  width: 23.476px;
  height: 23.035px;
  flex-shrink: 0;
  fill: rgba(64, 80, 100, 0.30);
  stroke-width: 2px;
  stroke: #405064;
}

input:checked ~ .checkbox-vcwa {
  width: 23.476px;
  height: 23.035px;
  flex-shrink: 0;
  fill: #083363;
  stroke-width: 2px;
  stroke: #1B71CF;
}


.btn-stopAll {
  width: 445px;
  height: 98px;
  flex-shrink: 0;
  margin-top: 50px;
  background: url('/assets/component/StopAll.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.btn-startAll {
  width: 445px;
  height: 98px;
  flex-shrink: 0;
  margin-top: 50px;
  background: url('/assets/component/startAll.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.history-button{
  width: 160px;
  height: 410px;
  flex-shrink: 0;
  margin-top: 50px;
  background: url('/assets/component/historyButton.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
