@font-face {
  font-family: 'Lexend Giga';
  src: url('/assets/Lexend_Giga/static/LexendGiga-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Milan';
  src: url('/assets/Inter/static/Inter-Regular.ttf') format('truetype');
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('/assets/component/background.svg');
  background-size: cover;
}
