@font-face {
  font-family: 'Inter Milan';
  src: url('/assets/Inter/static/Inter-Regular.ttf') format('truetype');
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('/assets/component/bg-2.svg');
  background-size: cover;
}

.spacer {
  margin-top: 80px;
}

.spacer-2 {
  margin-top: 120px;
}

.btd {
  width: 200px;
  height: 44px;
  flex-shrink: 0;
  background: url('/assets/component/backtodashboardbtn.svg');
  background-position: center center;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
  font-feature-settings: 'cv11' on, 'cv01' on, 'ss01' on;
  font-family: "Inter Milan",sans-serif;
  font-size: 13.134px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.701px; /* 150% */
  margin-left: 60px;
}

.border-jammer {
  width: 780px;
  height: 302px;
  background: url('/assets/component/border-jammer.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 60px;
  margin-top: 20px;
}

.title-border {
  color: #D9D9D9;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: 36.513px;
  text-align: center;
  margin-right: 50px;
  margin-top: 0;
}

.text-connect{
  font-size: 14px;
  text-align: end;
  white-space: nowrap;
}

.text-disconect{
  font-size: 14px;
  text-align: end;
  white-space: nowrap;
}

.border-channel-grey{
  width: 220px;
  height: 104px;
  flex-shrink: 0;
  background: url('/assets/component/ch-border-grey.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #FFF;
  font-family: "Inter Milan",sans-serif;
  font-size: 17.376px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.362px; /* 122.94% */
  letter-spacing: 2.003px;
  text-transform: uppercase;
}

.title-channel {
  padding: 10px;
  text-align: start;
  font-weight: 800;
  font-size: 12px;
}

.title-signal {
  text-align: start;
  margin-top: -4px;
  padding-left: 45px;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}

.suhu {
  padding-left: 50px;
  padding-top: 0px;
  font-weight: 400;
  font-size: 10px;
  font-style: normal;
  white-space: nowrap;
}

.idle {
  width:40px;
  height:16px;
  margin-left: 25px;
  margin-top:15px;
  background: url('/assets/component/idle.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.run {
  width: 34px;
height: 18px;
margin-top: 15px;
background: url('/assets/component/run.svg');
background-size: cover;
background-repeat: no-repeat;
}

.stop {
  width: 36px;
  height: 16px;
  margin-top: 15px;
  background: url('/assets/component/stop.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.border-channel-blue{
  width: 220px;
  height: 104px;
  flex-shrink: 0;
  margin-top: 20px;
  background: url('/assets/component/ch-border-blue.svg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  font-family: "Inter Milan",sans-serif;
  font-size: 17.376px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.362px; /* 122.94% */
  letter-spacing: 2.003px;
  text-transform: uppercase;
}

.border-channel-green{
  width: 220px;
  height: 104px;
  flex-shrink: 0;
  margin-top: 20px;
  background: url('/assets/component/ch-border-green.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #FFF;
  font-family: "Inter Milan",sans-serif;
  font-size: 17.376px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.362px; /* 122.94% */
  letter-spacing: 2.003px;
  text-transform: uppercase;
}


.freqsetjam1 {
  width: 220px;
  height: 65px;
  flex-shrink: 0;
  margin-top: 10px;
  background: url('/assets/component/freqSetJamm1.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.freqsetjam2 {
  width: 220px;
  height: 65px;
  flex-shrink: 0;
  margin-top: 10px;
  background: url('/assets/component/freqSetJamm2.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.vswrenable {
  width: 220px;
  height: 65px;
  flex-shrink: 0;
  margin-top: 10px;
  background: url('/assets/component/vswrenable.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.vswrdisable {
  width: 220px;
  height: 65px;
  flex-shrink: 0;
  margin-top: 10px;
  background: url('/assets/component/vswrdisable.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-vcwa {
  width: 220px;
  height: 175px;
  flex-shrink: 0;
  margin-top: 20px;
  background: url('/assets/component/border-vcwa.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

input[type=checkbox] {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

.checkbox-vcwa {
  color: #FFF;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: "Inter Milan", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 55.32px;
  margin-left: 20px;
}

input ~ .checkbox-vcwa {
  width: 23.476px;
  height: 23.035px;
  flex-shrink: 0;
  fill: rgba(64, 80, 100, 0.30);
  stroke-width: 2px;
  stroke: #405064;
}

input:checked ~ .checkbox-vcwa {
  width: 23.476px;
  height: 23.035px;
  flex-shrink: 0;
  fill: #083363;
  stroke-width: 2px;
  stroke: #1B71CF;
}


.btn-stopAll {
  width: 220px;
  height: 46px;
  margin-top: 10px;
  background: url('/assets/component/StopAll.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.btn-startAll {
  width: 220px;
  height: 46px;
  margin-top: 10px;
  background: url('/assets/component/startAll.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.history-button{
  width: 80px;
  height: 210px;
  flex-shrink: 0;
  margin-top: 20px;
  background: url('/assets/component/historyButton.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  backdrop-filter: blur(6px);
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background: url('/assets/component/border-modal.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: auto;
  // padding: 20px;
  width: 880px;
  height: 630px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  text-align:center;
  color: #D9D9D9;
  font-feature-settings: 'cv11' on, 'cv01' on, 'ss01' on;
  font-size: 20px;
  // margin-bottom:20px;
  font-style: normal;
  font-weight: 800;
  line-height: 36.513px;
}


  .btn-grup {
    background: url('/assets/component/btn-group-modal.svg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 500px;
    flex-shrink: 0;
    margin-left:50px;
  }

  .the-btn {
    width: 200px;
    height: 80px;
    background-color: transparent;
  }

  .btn-title {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.362px; /* 122.94% */
    letter-spacing: 2.003px;
    text-transform: uppercase;
  }

  .btn-signal {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15.507px; /* 122.94% */
    letter-spacing: 1.454px;
    text-transform: uppercase;
    opacity: 0.5;
    margin-bottom: 40px;
  }

  .active-btn {
    background: url('/assets/component/modal-ch-active.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .ellipse {
    display: flex;
    position: relative;
    top: 30px;
    left: 30px;
    background: url('/assets/component/ellipse-normal.svg');
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }

  .border-form {
    width: 550px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #031123;
  }
  .kontener {
    padding-left: 80px;
    padding-top: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
  }


  .title-form-left{
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.362px; /* 122.94% */
    letter-spacing: 2.003px;
    text-transform: uppercase;
    text-align:start;
  }

  .title-form-right{
    color: #FFF;
    font-family: "Inter Milan",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align:end;
  }

  .good {
    width: 70px;
    height: 40px;
    flex-shrink: 0;
    fill: rgba(6, 100, 224, 0.40);
    stroke-width: 1.493px;
    stroke: #0A4F9B;
  }

  .freq-1 {
    margin-left: 15px;
    width: 425px;
    height: 70px;
    flex-shrink: 0;
    fill: rgba(10, 79, 155, 0.10);
    stroke-width: 1.493px;
    stroke: #0A4F9B;
    background-color: rgba(10, 79, 155, 0.10);
    border: 2px solid#0A4F9B;
  }

  .freq-2 {
    width: 425px;
    height: 70px;
    flex-shrink: 0;
    fill: rgba(10, 79, 155, 0.10);
    stroke-width: 1.493px;
    stroke: #0A4F9B;
    background-color: rgba(10, 79, 155, 0.10);
    border: 2px solid#0A4F9B;
  }

  .center-freq {
    width: 100%;
    height: 70px;
    flex-shrink: 0;
    fill: rgba(10, 79, 155, 0.10);
    stroke-width: 1.493px;
    stroke: #0A4F9B;
    background-color: rgba(10, 79, 155, 0.10);
    border: 2px solid#0A4F9B;
  }

  .border-togle {
    background: url('/assets/component/border-modal-toggle.svg') center/cover no-repeat;
    width: 425px;
    height: 80px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }


  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #0077FA;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #000000;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .cancel-modal {
    width: 445px;
    height: 98px;
    flex-shrink: 0;
    margin-top: 50px;
    background: url('/assets/component/modal-cancel.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

  }

  .save-modal {
    width: 445px;
    height: 98px;
    flex-shrink: 0;
    margin-top: 50px;
    background: url('/assets/component/modal-save.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
