<ion-content [fullscreen]="true">
  <div class="bg">
    <div class="row">
      <div class="col-1">
        <div class="spacer-2"></div>
        <div class="dashboard" style="margin-right: -40px; margin-top: 650px;">
          <button class="dashboard-button" (click)="redirectToDashboard()"></button>
        </div>
      </div>
      <div class="col-11">
        <div class="spacer"></div>
        <div class="border-log">
          <div class="log-box">
            <div class="log">
              <div class="table-wrapper-scroll-y my-custom-scrollbar" style="padding:50px;">
                <ul style="list-style-type: none;">
                  <li>AttCalibrate ==>> ALL Setting Success</li>
                  <li>AttReset ==>> ALL Setting Success</li>
                  <li>VswrDisable ==>> ALL Setting Success</li>
                  <li>Channel 1 ==>> Start</li>
                  <li>Channel 2 ==>> Start</li>
                  <li>Channel 3 ==>> Start</li>
                  <li>Channel 4 ==>> Start</li>
                  <li>Channel 5 ==>> Start</li>
                  <li>Channel 6 ==>> Start</li>
                  <li>Channel 7 ==>> Start</li>
                  <li>Channel 8 ==>> Start</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="mt-4" style="text-align:center;">
            <button class="export-log"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
