
// FONT Lexend Giga
@font-face {
  font-family: 'Lexend Giga';
  src: url('/assets/Lexend_Giga/static/LexendGiga-Regular.ttf') format('truetype');
}


// FONT INTERMILAN
@font-face {
  font-family: 'Inter Milan';
  src: url('/assets/Inter/static/Inter-Regular.ttf') format('truetype');
}

// CSS Background Aegis
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('/assets/component/background.svg');
  background-size: cover;
}

// h6 Map
.title-map {
  color: #FFF;
  text-align: center;
  font-family:"Inter Milan",sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 53.538px; /* 150% */
  margin-bottom: -20px;
}


.spacer {
  margin-top: 100px;
}

.box-header-left{
  padding-top: 20px;
}


.box-body-left{
  margin-left: 20px;
  margin-right: 40px;
  padding:20px;
  width:90%;
  height:100%;

}

.box-left{
  width: 100%;
  height: 100%;
}



.map-border {
  width: 650px;
  height: 360px;
  background: url('/assets/component/map-border.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#map {
  margin-top: 10px;
  height: 350px;
  border-top-left-radius: 59px;
  border-top-right-radius: 80px;
  position: relative;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 69px;

}


.box-right{
  width: 100%; /* Sesuaikan lebar sesuai kebutuhan Anda */
  height: 100%; /* Sesuaikan tinggi sesuai kebutuhan Anda */
}



.last-scan {
  margin-left: 60px;
  margin-top: 40px;
  text-align:center;
  color: #FFF;
  font-family: "Lexend Giga",sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  opacity:50%;
  line-height: normal;
}

.btn-start-scan{
  width: 300px;
  height: 65px;
  flex-shrink: 0;
  color: #FFF;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: "Inter Milan", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  background: url('/assets/component/button-biru.svg');
  background-size: cover;
  margin-left: 60px;
}

.status-scan {
  margin-top: 40px;
  text-align:center;
}

.proses-scan {
    height: 35px;
    width: auto;
    margin-left: 175px;
    background: url('/assets/component/scanInProgress.svg');
    background-size: contain; 
    background-position: center center;
    background-repeat: no-repeat;
}

.btn-stop-scan{
  width: 300px;
  height: 65px;
  margin-left: 55px;
  background: url('/assets/component/stopscandash.svg');
  background-size: cover;
}


.border-jammer {
  width: 460px;
  height: 470px;
  background: url('/assets/component/borderJammNow.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.title-jamnow{
  padding-top:20px;
}

.h6-jamm {
  color: #FFF;
  text-align: center;
  font-family: "Inter Milan", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 53.538px;
}


.border-qj-vhf {
  width: 190px;
  height: 85px;
  background: url('/assets/component/grey-border-jam.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-qj-cell {
  width: 190px;
  height: 85px;
  background: url('/assets/component/grey-border-jam.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-qj-wifi {
  width: 190px;
  height: 85px;
  background: url('/assets/component/grey-border-jam.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-qj-all {
  width: 190px;
  height: 85px;
  background: url('/assets/component/grey-border-jam.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.active {
  width: 190px;
  height: 85px;
  background: url('/assets/component/blue-border-jam.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.title-border-qj {
  padding-top: 15px;
  color: #FFF;
  text-align: center;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: "Inter Milan", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 30.02px;
}

.sec-border-qj {
  color: #FFF;
  font-family: "Inter Milan",sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 12.996px; /* 122.94% */
  letter-spacing: 1.218px;
  text-transform: uppercase;
}

.border-jam-option{
  width: 420px;
  height: 60px;
  background: url('/assets/component/JammOptionBorder.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
